{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
  },
  "parserOptions": {},
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended",
  ],
  "plugins": [],
  "rules": {
    "prettier/prettier": "warn",
    "no-unused-vars": "warn",
    "spaced-comment": "warn",
  }
}
